body {
	font-family: trebuchet;
	background-color: #45AAB8;
}

.container {
	text-align: center;
	background-color: white;
}

h1 {
	margin-bottom: 25px;
	color: #45AAB8;
}

#password {
	width: 70%;
	margin: 20px;
	padding: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #FAF4B1;
	background-color: #45AAB8;
	font-weight: bold;
	font-size: 2em;
	color: #E1D772;
}

.btn {
	margin: 10px;
	font-weight: bold;
	border: solid #45AAB8;
}