body {
	font-family: trebuchet;
	background-color: #45AAB8;
	font-size: 2em;
}

.container {
	text-align: center;
	background-color: white;
	height: 100%;
}

h1 {
	margin-bottom: 25px;
	color: #45AAB8;
}

h3 {
	font-weight: bold;
}

.content {
	padding: 30px;
	margin: 20px;
}

#password {
	width: 70%;
	margin: 20px;
	padding: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #FAF4B1;
	background-color: #45AAB8;
	font-weight: bold;
	font-size: 2em;
	color: #E1D772;
}

#comic-pic {
	margin:auto;
	width:70%;
}

.btn {
	margin: 10px;
	padding: 20px;
	font-weight: bold;
	font-size: 1.2em;
	border: solid #FAF4B1;
	background-color: #45AAB8;
	color: white;
}